.about {

    &__title {
       @include title;

        &::after {
           @include title-underscore;
        }
    }

    &__text {
        margin: 0 $margin-small;

        @include respond(medium){
            padding: 0 $padding-medium;
        }

        @include respond(medium){
            padding: 0 $padding-small;
        }
    }

}