.footer {

    padding: $padding-small;

    &__text {
        text-align: center;
        font-size: 2.2rem;
        line-height: 4.4rem;
        color: $color-main;

        @include respond(extra-small){
            font-size: 1.4rem;
            line-height: 1.6rem;
        }
    }

    &__link {
        color: $color-main-lightest;
    }
}