.contact {
    background-image: linear-gradient(to bottom right, rgba($color-main-lightest,.99), rgba($color-main,.99));
    -webkit-clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 100%);
    margin: $margin-small;
    padding: $padding-big;
       
    @include respond(extra-small){
        padding: $padding-big $padding-small;
        margin: 0;
    }

    &__title {
        @include title($color-white);

        &::before {
            @include title-underscore ($color-white);
              
            @include respond(extra-small){
                left: -1rem;
            }
        }
    }
    
    &__container {
        @include center-align;
        max-width: 100rem;
        padding: $padding-big;
        border: .5rem solid $color-attention;
        display: flex;
        align-items: flex-start;
        justify-content: space-around;
        transform: skewY(-4deg);

        @include respond(small){
            flex-direction: column;
            padding: $padding-medium;
        }

        @include respond(extra-small){
            max-width: 100%;
            border: none;
            padding: 0;
        }

        & > * {
            transform: skewY(4deg);
        }
    }

    &__form {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        flex: 2;
        padding: $padding-medium;

        @include respond(small){
            width: 100%;
        }

        @include respond(extra-small){
            padding: 0;
        }

        &__input {
            width: 100%;
            font-size: 2.2rem;
            line-height: 4.4rem;
            margin-bottom: $margin-small;
            border-radius: 5px;
            font-family: Lato, sans-serif;
            padding: 0 $padding-small;
            color: $color-main;
            outline: none;
            border: 3px solid transparent;

            &::-webkit-input-placeholder {
                color: $color-main-lightest;
            }

            &::-moz-input-placeholder {
                color: $color-main-lightest;
            }

            &::-o-input-placeholder {
                color: $color-main-lightest;
            }

            &::-ms-input-placeholder {
                color: $color-main-lightest;
            }

            &:focus {
                border: 3px solid $color-attention;
            }
        }

        &__send {
            background-color: $color-attention;
            color: $color-main;
            text-transform: uppercase;
            box-shadow: $shadow-light;
            transition: all .2s;
            border: none;
            outline: none;
            font-size: 2.2rem;
            padding: $padding-small;
            border-radius: 4px;
            cursor: pointer;
            transition: transform .3s;

            &:hover {
                box-shadow: 0 0 2rem rgba($color-attention,.6);
            }

            &:active {
                box-shadow: none;
                transform: scale(.9);
            } 

        }
    }

    &__info {
        flex: 1;
        padding: $padding-small;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: $padding-medium;

        @include respond(small){
            padding: 0;
        }

        @include respond(small){
            flex-direction: row;
        }

        @include respond(extra-small){
            width: 100%;
            justify-content: flex-start;
        }

        &__text {
            font-size: 2.2rem;
            line-height: 4.4rem;
            text-transform: uppercase;
            color: $color-white;

            @include respond(small){
                display: none;
            }
        }

        &__link {
            position: relative;
            perspective: 150rem;
            -moz-perspective: 150rem;
            display: block;
            position: relative;
            margin: $margin-big 0;

            @include respond(small){
                margin: $margin-big;
            }


            &:hover .contact__info__icon-front {
                transform: translate(-50%,-50%) rotateY(-180deg);
            }
            &:hover .contact__info__icon-middle {
                transform: translate(-50%,-50%) rotateY(-90deg);
            }
            &:hover .contact__info__icon-back {
                transform: translate(-50%,-50%) rotateY(0);
            }
        }

        &__icon{
            width: 6rem;
            height: 6rem;
            margin: $margin-small;
            position: absolute;
            transition: all 1s;
            backface-visibility: hidden;
            box-shadow: $shadow-light;
            transform-origin: right;
            left: 50%;
            top: 50%;

            &-middle {
                background-color: $color-main-lighter;
                transform: translate(-50%,-50%) rotateY(90deg);
            }

            &-back {
                fill: $color-white;
                transform: translate(-50%,-50%) rotateY(180deg);
            }

            &-front {
                fill: $color-attention;
                transform: translate(-50%,-50%);
            }
        }
    }
}