.skills {

    margin: $margin-small;
    padding: 10rem 8rem 20rem;
    background-image: linear-gradient(to bottom right, rgba($color-main-lightest,.99), rgba($color-main,.99));
    -webkit-clip-path: polygon(0 20%, 100% 0, 100% 80%, 0 100%);
    clip-path: polygon(0 20%, 100% 0, 100% 80%, 0 100%);

    &__title {

        @include title($color-white);

        &::after {
            @include title-underscore($color-white);
        }
    }
}

.item {
    background: $color-white;
    border-radius: 1rem;
    overflow: hidden;
    border: .5rem solid $color-attention;
    overflow: hidden;
    position: relative;

    &::after {
        position: absolute;
        bottom: 0;
        left: 0;
        content: "";
        width: 100%;
        height: 100%;
        background-image: linear-gradient(to bottom, rgba($color-main-lightest,.7), rgba($color-main,.7));
        transition: all .4s;
    }

    &:hover::after {
        bottom: 101%;
    }

    &__content {
        transform: scale(.8);
        filter: grayscale(100%);
        transition: all .4s;
    }

    &:hover &__content {
        transform: scale(1);
        filter: grayscale(0%);
    }
}