.hero {
    height: 80vh;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
    margin: $margin-small;
    position: relative;
    background-image: linear-gradient(to bottom right, rgba($color-main-lightest,.9), rgba($color-main,.9));
    background-size: cover;
    z-index: 100;
    overflow: hidden;
    max-height: 100rem;

    @include respond(small){
        height: 50vh;
    }

    @include respond(extra-small){
        margin: 0;
    }

    &__video {

        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: -1;
        opacity: .6;
        overflow: hidden;

        &__content {
            height: 100%;
            width: 100%;
            object-fit: cover;

            @supports( (not(-webkit-clip-path: polygon(0 0))) or (not(clip-path: polygon(0 0))) ){
                height: auto;
            }   

        }
    }

    &__title {
        @include center;
        font-size: 3.3333333333333335vw;
        color: $color-attention;
        line-height: 3.6458333333333335vw;
        letter-spacing: 1px;
        word-spacing: 1rem;
        text-shadow: $shadow-dark;

        @include respond(large){
            font-size: 3vw;
            line-height: 4rem;
        }
        
        @include respond(medium){
            font-size: 3.6rem;
            width: 70%;
            margin: 0 auto;
        }

        @include respond(small){
            font-size: 3rem;
            width: 90%;
        }

        @include respond(extra-small){
            font-size: 1.8rem;
            line-height: 2rem;
        }
      
        &__main {
            margin-left: 2.604166666666667vw;

            &--bold {
                font-weight: 700;
            }
        }
    }

}



