@mixin center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

@mixin center-align($tb: 0px) {
    margin:  $tb auto;
}

@mixin title($cl: $color-main) {
    position: relative;
    font-size: 4.6rem;
    color: $cl;
    text-transform: uppercase;
    text-align: center;
    width: 30rem;
    @include center-align($margin-medium);
    margin-bottom: $margin-big;

    @include respond(small){
        font-size: 3rem;
    }

    @include respond(extra-small){
        width: 80%;
    }
}

@mixin title-underscore($cl: $color-main) {
    position: absolute;
    bottom: -1rem;
    left: -5rem;
    width: 40rem;
    height: 1px;
    background: $cl;
    content: "";

    @include respond(extra-small){
        width: 25rem;
        left: 1rem;
    }
}

@mixin respond($br){
    @if $br == large {
        @media only screen and (max-width: 1199.98px) { @content };
    }
    @if $br == medium {
        @media only screen and (max-width: 991.98px) { @content };
    }
    @if $br == small {
        @media only screen and (max-width: 767.98px) { @content };
    }
    @if $br == extra-small {
        @media only screen and (max-width: 575.98px) { @content };
    }
    
}
